<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="<{$css_url}>/mobile/css/down/download.css">
    <link rel="stylesheet" href="<{$css_url}>/mobile/css/public/normalize.css">
    <title>N邦翻译IOS客户端下载</title>
</head>
<body>
<div id="all">
    <div class="user">
        <div id="top">
            <div class="logo"></div>
        </div>
        <div id="font_div">
            <div></div>
        </div>
        <div id="bgimg"><img src="<{$file_url}>/common/mobile/down/download-img.png" width="100%"></div>
        <div id="bottom">
            <div class="user-btn">
                <i class="icons icon-apple"></i>
                <a href="<{$data['user_url']}>" style="color: #ffffff;">客户端下载</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>