<{layout:web/public/head}>
<link rel="stylesheet" href="<{$css_url}>web/css/style/order/success.css">
<title>N邦翻译 找好翻译，上N邦-付款成功</title>
<{layout:web/public/top}>
<!--路由/pay/index/pay/paySuccess-->
<div class="container">
    <div class="top"></div>
    <div class="info font-b">付款成功</div>
    <div class="logo"></div>
    <div class="info">您的译稿在努力翻译中，请耐心等待！</div>
    <div class="funcbar">
        <a href="/search/?q=&t=2">继续购买</a>　　　　
        <a href="/user/customer/order/index">查看订单</a>
    </div>
</div>
<{layout:web/public/foot}>