@import url("../../public/public.css");
/*password-middle*/
.password-middle {
    width: 100%;
    height: 700px;
    padding: 1px 0;
    text-align: center;
    background-size: cover;
    color: #4a4a4a;
}

.password-contect {
    width: 1170px;
    height: 540px;
    margin: 85px auto;
    box-sizing: border-box;
    border-top: 2px solid #ff7302;
    -webkit-box-shadow: 3px 3px 15px #ADAFB1;
    -moz-box-shadow: 3px 3px 15px #ADAFB1;
    box-shadow: 3px 3px 15px #ADAFB1;
    border-radius: 10px;
    background-color: #ffffff;
}

.password-title {
    padding: 20px 60px;

}

.password-title h2 {
    width: 110px;
    text-align: center;
    font-size: 26px;
    border-bottom: 2px solid #ff7302;
}

.password-step {
    width: 750px;
    height: 90px;
    margin: 20px auto 0 auto;
}

.step-one, .step-two, .step-three {
    float: left;
    position: relative;
    width: 250px;
    height: 90px;
    text-align: center;
}

.step-one p, .step-two p, .step-three p {
    line-height: 40px;
}

.step-line hr {
    height: 5px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 50px;
}

.step-line .round {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #e5e5e5;
    border-radius: 50%;
}

.step-one .step-color, .step-one .step-color hr {
    background-color: #3dd7c7;
}

.step-two .step-color, .step-two .step-color hr {
    background-color: #3dd7c7;
}

.step-three .step-color, .step-three .step-color hr {
    background-color: #3dd7c7;
}

.step-one .step-after-color hr {
    background-color: #c3faf5;
}

.step-two .step-after-color hr {
    background-color: #c3faf5;
}

.form-control {
    width: 425px;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}

.form-control input {
    width: 300px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}

.form-control label {
    height: 35px;
    line-height: 35px;
}

.form-control .password-input {
    width: 140px;
    margin-right: 10px;
}

.form-control .password-button {
    width: 140px;
    padding-left: 0;
    box-sizing: border-box;
    border: 1px solid #ef8200;
    color: #ef8200;
    background-color: #fafafa;
    margin-right: 10px;
}

.verification-button-disabled {
    border: 1px solid #aeaeae !important;
    color: #aeaeae !important;
}

.form-control a {
    display: block;
    margin: 30px auto;
    width: 300px;
    line-height: 40px;
    color: #ffffff;
    border-radius: 2px;
    background-color: #ef8200;
}

/*password-middle End*/

.finish-password p {
    line-height: 40px;
    color: #ef8200;
    font-size: 18px;
}