<!--店铺展示的评价-->
<div class="trs-left-title">
    <span>店铺评价</span>
</div>
<div class="trs-content">
    <div class="trs-evaluate">
        <div class="col-xs-4">
            <div class="row">
                <h2 class="evaluate-number" id="star_num">0.0</h2>
            </div>
            <div class="evaluate-star" id="total_star">
                <i class="icon-eavl-b icon-empty-bs"></i><i class="icon-eavl-b icon-empty-bs"></i><i
                    class="icon-eavl-b icon-empty-bs"></i><i class="icon-eavl-b icon-empty-bs"></i><i
                    class="icon-eavl-b icon-empty-bs"></i>
            </div>
        </div>
        <div class="col-xs-5 text-center">
            <div class="evaluate-star-s">
                <div class="col-xs-3">速度：</div>
                <div class="col-xs-6" id="sp_star">
                    <i class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i>
                </div>
            </div>
            <div class="evaluate-star-s">
                <div class="col-xs-3">质量：</div>
                <div class="col-xs-6" id="qu_star">
                    <i class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i>
                </div>
            </div>
            <div class="evaluate-star-s">
                <div class="col-xs-3">服务：</div>
                <div class="col-xs-6" id="se_star">
                    <i class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i><i class="icon-eavl-s icon-empty-ss"></i><i
                        class="icon-eavl-s icon-empty-ss"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <i class="iconfont icon-face-good font-imp"></i>
                好评（<span class="font-imp" id="good">0</span>）个
            </div>
            <div class="row">
                <i class="iconfont icon-face-line font-imp"></i>
                中评（<span class="font-imp" id="normal">0</span>）个
            </div>
            <div class="row">
                <i class="iconfont icon-face-bad icon-eavl-bad-evaluate"></i>
                差评（<span class="font-imp" id="poor">0</span>）个
            </div>
        </div>
    </div>
    <div class="evaluate-type">
        <ul id="eva_select">
        </ul>
    </div>
    <div class="evaluate-list">
        <table>
            <tbody id="eval_list">
            </tbody>
        </table>
        <div class="pagination-wrap">
            <ul id="pagination" class="pagination"></ul>
            <p class="text-center"></p>
        </div>
    </div>
</div>