<{layout:web/public/head}>
<link rel="stylesheet" href="<{$css_url}>web/css/style/user/personcenter/person.css">
<title>N邦翻译 找好翻译，上N邦-添加评价</title>
<{layout:web/public/top}>
<{layout:web/public/search}>
<div class="main-body">
    <div class="footmark">
        <a href="/">首页</a>&gt;
        <a href="javascript:void(0);">评价管理</a>&gt;
        <a href="javascript:void(0);">添加评价</a>
    </div>
    <{layout:web/public/person}>
    <div class="main-label" id="person_center">
        <div class="label-title">
            <span class="label-title-text">添加评价</span>
            <span class="label-title-circle"></span>
            <span class="label-title-line"></span>
        </div>
        <div class="label-content">
            <div class="label-content-show">
                <div class="row">
                    <span class="font-imp">评分：</span><span class="font-remind"><i class="iconfont icon-remind"></i>您的评分对我们很重要，这将帮助到下位用户更好地参考译者！</span>
                </div>
                <{if($data["is_score"] == 1)}>
                <div class="row">
                    <div class="col-xs-5 text-center">
                        <div class="evaluate-star-s">
                            <div class="col-xs-3">速度：</div>
                            <div class="col-xs-6" id="sp_star">
                                <i class="icon-eavl-s icon-empty-ss" data-index="0"></i><i
                                    class="icon-eavl-s icon-empty-ss"
                                    data-index="1"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="2"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="3"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="4"></i>
                            </div>
                        </div>
                        <div class="evaluate-star-s">
                            <div class="col-xs-3">质量：</div>
                            <div class="col-xs-6" id="qu_star">
                                <i class="icon-eavl-s icon-empty-ss" data-index="0"></i><i
                                    class="icon-eavl-s icon-empty-ss"
                                    data-index="1"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="2"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="3"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="4"></i>
                            </div>
                        </div>
                        <div class="evaluate-star-s">
                            <div class="col-xs-3">服务：</div>
                            <div class="col-xs-6" id="se_star">
                                <i class="icon-eavl-s icon-empty-ss" data-index="0"></i><i
                                    class="icon-eavl-s icon-empty-ss"
                                    data-index="1"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="2"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="3"></i><i
                                    class="icon-eavl-s icon-empty-ss" data-index="4"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="javascript:void(0);" class="btn btn-submit" id="submit_star">提交</a>
                </div>
                <{else}>
                <div class="eval-success-info" id="scope_success"><i class="iconfont icon-success"></i>您已经给过评分了！</div>
                <{/if}>
                <div class="row font-imp">
                    <span class="font-imp">评价：</span><span class="font-remind"><i class="iconfont icon-remind"></i>您的评价可以让我们更好地筛选译者！</span>
                </div>
                <{if($data["is_comment"] == 1)}>
                <div class="row">
                    感觉这次服务给予：
                    <{foreach($data['comment_type_list'] as $k => $v)}>
                    <label><input type="radio" value="<{$k}>" name="type"><{$v}></label>
                    <{/foreach}>
                </div>
                <div class="row font-imp">心得：</div>
                <div class="row">
                    <textarea class="form-textarea" placeholder="请给予您的评价，思密达～～～" id="text_area"></textarea>

                    <div class="js-size text-right">0/200</div>
                </div>
                <div class="row font-imp">晒图：</div>
                <div class="row">
                    <input type="file" id="upload_img">
                </div>
                <div class="row text-center">
                    <a href="javascript:void(0);" class="btn btn-submit" id="submit_content">提交</a>
                </div>
                <{else}>
                <div class="eval-success-info" id="commont_success"><i class="iconfont icon-success"></i>您已经给过评价了！</div>
                <{/if}>
            </div>
        </div>
        <{layout:web/public/ad}>
    </div>
</div>
</div>
<script src="<{$css_url}>web/js/evaluate/user_evaluate.js"></script>
<{layout:web/public/foot}>