<div class="se-label-right">
    <div class="fast-trs-title">
        <h3>快速匹配翻译服务</h3>
    </div>
    <form class="fast-trs-form" id="appm_form">
        <div class="form-group">
            <textarea class="form-textarea" name="content" placeholder="请简单输入您的翻译需求，我们会有专业的客服人员第一时间与您联系。"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-input" name="name" placeholder="您的姓名">
        </div>
        <div class="form-group">
            <input type="text" class="form-input" name="phone" id="appm_phone" placeholder="您的手机号">
        </div>
        <input type="hidden" name="type" value="3">
        <div class="form-group">
            <a href="javascript:void(0);" class="btn-send-out" id="appm_submit">发送</a>
        </div>
    </form>
    <div class="fast-adm">
        <a href="/index/static/translate/index" target="_blank">
            <img src="<{$css_url}>file/img/search/fast-adm.png">
        </a>
    </div>
    <div class="problem-title">
        <h3>常见问题</h3>
    </div>
    <div class="problem-list">
        <ol type="1">
            <li><a href="/index/index/help/detail?id=135" target="_blank">网站条款</a></li>
            <li><a href="/index/index/help/detail?id=140" target="_blank">商户入驻协议</a></li>
            <li><a href="/index/index/help/detail?id=138" target="_blank">关于N邦</a></li>
            <li><a href="/index/index/help/detail?id=149" target="_blank">消费者保障</a></li>
            <li><a href="/index/index/help/detail?id=146" target="_blank">视频拍摄</a></li>
            <li><a href="/index/index/help/detail?id=144" target="_blank">支付及提现</a></li>
            <li><a href="/index/index/help/detail?id=139" target="_blank">意见反馈</a></li>
            <li><a href="/index/index/help/detail?id=137" target="_blank">联系我们</a></li>
        </ol>
    </div>
</div>