/**
 * Created by cui on 2015/10/11.
 * company unboudedTransiation
 */
body{
    background-color: #F7F7F7;
    font-size: 30px;
    color:#666;
}
.container{
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.top{
    height: 290px;
    background: url("../img/banner.png") no-repeat -2px 0 transparent;
}
@media screen and (max-height: 768px) {
    .top{
        height: 223px;
    }
}
.info{
    padding: 23px 0 ;
    text-align: center;
}
.font-b{
    font-size: 32px;
    color: #545454;
}
.logo{
    height: 137px;
    background: url("../img/complete.png") no-repeat 440px 10px transparent;
}
.funcbar{
    height: 350px;
    line-height:200px ;
    text-align: center;
}
.funcbar a{
    width: 170px;
    height: 50px;
    font-size: 26px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background-color: #f68c36;
    border-radius: 5px;
    display: inline-block;
}