.resetpassword {
    width: 580px;
    padding: 0 58px;
    overflow: hidden;
}

.resetpassword-title {
    margin: 45px 0 0 0;
    padding-left: 15px;
    border-left: 4px solid #eb983a;
    font-size: 16px;
}

#resetpassword_form {
    padding: 30px 0;
    font-size: 14px;
}

.resetpassword_form_row {
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}

.resetpassword_form_row span {
}

.resetpassword-input {
    width: 200px;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #b2b3b2;
    border-radius: 5px;
}
.resetpassword-form-submit{
    margin-top: 25px;
    padding-left: 121px;
}
#submit_resetpassword{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 155px;
    background-color: #14ac85;
    border-radius:10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}