.help {
    margin: 40px auto 70px;
    width: 890px;
    overflow: hidden;
}

.sidebar {
    float: left;
    box-sizing: border-box;
    width: 195px;
    height: 430px;
    border: 1px solid #a6a6a7;
}

.active-region {
    float: left;
    box-sizing: border-box;
    margin-left: 40px;
    width: 652px;
    min-height: 430px;
    height: auto;
    border: 1px solid #a6a6a7;
}

.sidebar-title,
.sidebar-text {
    margin: 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #aeaeae;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-title {
    background-color: #14ac85;
    color: #ffffff;
}

.sidebar-text {
    margin: 0 8px;
}

.help-selected {
    color: #eb983a;
}

#active_region_title, #active_region_title1, #active_region_title2, #active_region_title3 {
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #a6a6a7;
}

.active_region_content {
    height: auto;
    padding: 10px 20px 40px;
}

.active_region_content p {
    line-height: 25px;
    font-size: 14px;
    margin: 0 auto;
    text-indent: 27px
}

.active_region_content table {
    line-height: 30px;
    font-size: 14px;
    text-align: center
}

.active_region_content table p {
    text-align: left;
    padding: 0 10px;
	text-indent: inherit;
}

h3 {
    text-align: center
}

.active_region_content span {
    line-height: 35px;
    font-size: 16px;
    text-align: left
}

.hide {
    display: none
}