<div class="pub-appointment">
    <div class="appm-toggle">
        <img src="<{$css_url}>web/css/image/index/appointment_btn.png">
    </div>
    <div class="appm-form">
        <form>
            <div class="appm-form-group appm-with-radius">
                <div class="col-xs-1 text-center appm-with-bg"><i class="iconfont icon-mobile"></i></div>
                <div class="col-xs-11 appm-with-bg"><input type="text" class="form-input"></div>
            </div>
            <div class="appm-form-group">
                <div class="col-xs-6 appm-with-radius appm-with-bg">
                    <div class="col-xs-2 text-center"><i class="iconfont icon-user"></i></div>
                    <div class="col-xs-10"><input type="text" class="form-input"></div>
                </div>
                <div class="col-xs-6 appm-with-radius text-center">
                    <a href="javascript:void(0);" class="btn btn-submit">免费预约</a>
                </div>
            </div>
        </form>
        <a href="javascript:void(0);" class="appm-close"><i class="iconfont icon-close"></i></a>
    </div>
    <div class="appm-image">
        <img src="<{$css_url}>web/css/image/index/appointment_logo.png">
    </div>
</div>