<div class="pub-toolbar">
    <ul>
        <li>
            <div class="tool-item js-im">
                <i class="iconfont icon-custservice"></i>

                <div class="pub-toolbar-call">
                    <i class="iconfont icon-telephone"></i>4006-808-525
                </div>
            </div>
        </li>
        <li>
            <div class="tool-item js-code">
                <i class="iconfont icon-weixin"></i>

                <div class="pub-toolbar-code">
                    <img src="<{$css_url}>web/css/image/public/weixin.jpg" height="100" width="100">

                    <p class="">扫一扫，关注我们</p>
                </div>
            </div>
        </li>
        <li>
            <a class="tool-item js-point" href="/index/static/translate/index">
                <i class="iconfont icon-hand-point"></i>

                <div class="pub-toolbar-point">
                    进入<br>译点通
                </div>
            </a>
        </li>
    </ul>
</div>