<div class="home-section">
    <div class="sales-process">
        <div class="sales-process-title">
            <h3>购买流程</h3>
        </div>
        <div class="sales-process-text">
            <ul>
                <li>
                    <div class="put-icon">
                        <i class="iconfont icon-search"></i>
                    </div>
                    <div>
                        <h3>搜索翻译商品</h3>

                        <p>客户可以根据自己的翻译需求，在平台的搜索栏中找到匹配的翻译商品，并联系商家。</p>
                    </div>
                </li>
                <li>
                    <div class="put-icon">
                        <i class="iconfont icon-shop-car"></i>
                    </div>
                    <div>
                        <h3>在线一键下单</h3>

                        <p>客户与译者或翻译公司达成交易意向后，在平台购买该商品，在线支付订单，上传翻译稿件。</p>
                    </div>
                </li>
                <li>
                    <div class="put-icon">
                        <i class="iconfont icon-double-user"></i>
                    </div>
                    <div>
                        <h3>交付翻译商品</h3>

                        <p>
                            译者或翻译公司完成翻译服务后，将译稿上传到平台，客户从平台下载译稿，满意后可确认订单
                        </p>
                    </div>
                </li>
                <li>
                    <div class="put-icon">
                        <i class="iconfont icon-service"></i>
                    </div>
                    <div>
                        <h3>全程交易保障</h3>

                        <p>翻译服务产生任何纠纷平台无条件支持保障客户与译者或翻译公司的利益。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>