<div style="display: none;position: fixed;top: 50%;left: 50%;height: 200px; width: 200px;margin-top: -100px;
margin-left: -100px;background-color: #ff7302;font-size: 50px;text-align: center;color: #ffffff;line-height: 200px;z-index: 9999;overflow:hidden;">
    <span style="position: absolute;top: 0;right: 0;height: 40px;width:40px;line-height:40px;font-size:20px;background-color: #000;
    opacity: .4; cursor: pointer;" onclick="this.parentNode.style.display='none';"><i
            class="iconfont icon-close"></i></span>
    N邦翻译 活动提示区
</div>