<{layout:web/public/head}>
<link rel="stylesheet" href="<{$css_url}>web/css/style/user/personcenter/person.css">
<title>N邦翻译 找好翻译，上N邦-交易明细</title>
<{layout:web/public/top}>
<{layout:web/public/search}>
<div class="main-body">
    <div class="footmark">
        <a href="/">首页</a>&gt;
        <a href="javascript:void(0);">资金管理</a>&gt;
        <a href="javascript:void(0);">交易明细</a>
    </div>
    <{layout:web/public/person}>
    <div class="main-label">
        <div class="label-title">
            <span class="label-title-text">交易明细</span>
            <span class="label-title-circle"></span>
            <span class="label-title-line"></span>
        </div>
        <div class="label-content">
            <!--show-->
            <div class="label-content-show">
                <table>
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>来源订单号</th>
                        <th>金额</th>
                        <th>支付类型</th>
                        <th>交易类型</th>
                        <th>状态</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{if($data['details']['1'] > 0)}>
                    <{foreach($data['details'][0] as $k => $v)}>
                    <tr>
                        <td><{$v['create_time']}></td>
                        <td><{$v['order_num']}></td>
                        <td><{$v['amount']}></td>
                        <td><{$v['type_name']}></td>
                        <td><{$v['trade_type_name']}></td>
                        <td><{$v['status_name']}></td>
                        <td><{$v['description']}></td>
                    </tr>
                    <{/foreach}>
                    <{else}>
                    <tr>
                        <td colspan="7">您没有任何交易明细</td>
                    </tr>
                    <{/if}>
                    </tbody>
                </table>
                <div class="pagination-wrap">
                    <ul id="pagination" class="pagination"></ul>
                </div>
                <script>var page_config = {
                    offset: '<{$data["param_data"]["offset"]}>',
                    total: "<{$data['details']['1']}>",
                    limit: '<{$data["param_data"]["limit"]}>'
                };
                </script>
                <script src="<{$css_url}>web/js/bankroll/deal.js"></script>
            </div>
            <!--show end-->
        </div>
        <{layout:web/public/ad}>
    </div>
</div>
<{layout:web/public/foot}>