.personal {
    width: 1170px;
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 265px;
    overflow: hidden;
}

.sidebar-menu {
    position: relative;
    margin: 39px auto;
    padding: 1px;
    min-height: 400px;
    width: 174px;
    box-sizing: border-box;
    background-color: #FFA134;
    border-radius: 10px;
}

.sidebar-look {
    position: relative;
    margin: 31px auto 0;
    height: 106px;
    width: 106px;
}

.sidebar-look img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
}

.look-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 106px;
    width: 106px;
    z-index: 2;
}

.sidebar-phone {
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.place-order {
    display: block;
    margin: 20px auto 10px;
    height: 36px;
    width: 133px;
    line-height: 36px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background-color: #eb983a;
    border-radius: 5px;
}

.sidebar-tree {
    padding: 0 0 70px;
    overflow: hidden;
}


.sidebar-leaf {
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
    border-left: 5px solid #FFA134;
    text-align: center;
    font-weight: bold;
    color: #3f3f3f;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.sidebar-leaf:hover {
    color: #eb983a;
    background-color: #fff;
}

.tree-open {
    height: auto;
    background-color: #EB983A;
}
.tree-open a{
    color: #292929;
}

.tree-selected {
    border-left: 5px solid #eb983a;
    color: #eb983a;
    background-color: #fff;
}

.active-region {
    float: left;
    box-sizing: border-box;
    margin-top: 39px;
    padding: 10px;
    width: 905px;
    min-height: 510px;
}
