/*模态框的遮罩*/
a{
    text-decoration: none;
}
.mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    z-index: 20;
}
/*这里是模态框*/
.model{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    box-sizing:border-box;
    overflow: hidden;
    border: 1px solid #aeaeae;
    border-radius:5px;
    background-color: #ffffff;
    font-size: 14px;
    z-index: 25;
}
.model-header{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.model-title{
    font-weight: bold;
}
.model-close{
    display: none;
    float: right;
    padding: 0 5px;
    cursor: pointer;
}
.model-content{
    min-height: 70px;
    padding: 20px;
    color: #696969;
}
.model-footer{
    display: none;
    padding: 10px 20px 20px;
    text-align: right;
}
.model-btn{
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: 3px;
    color: #ffffff;
}
.model-ok{
    background-color: #eb983a;
}
.model-cancel{
    background-color: #a0a0a0;
}