<div class="footer">
    <div class="footer-main">
        <ul>
            <li>
                <dl>
                    <dt>关于N邦</dt>
                    <dd><a href="/index/index/help/detail?id=138">了解N邦</a></dd>
                    <dd><a href="/index/index/help/detail?id=137">联系我们</a></dd>
                    <dd><a href="/index/index/help/detail?id=136">加入N邦</a></dd>
                    <dd><a href="/index/index/help/detail?id=135">网站条款</a></dd>
                    <dd><a href="/sitemap.html">网站地图</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="/index/index/help/detail?id=141">译者帮助</a></dd>
                    <dd><a href="/index/index/help/detail?id=142">用户帮助</a></dd>
                    <dd><a href="/index/index/help/detail?id=143">翻译公司帮助</a></dd>
                    <dd><a href="/index/index/help/detail?id=140">商户入驻协议</a></dd>
                    <dd><a href="/index/index/help/detail?id=139">意见反馈</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>服务与支持</dt>
                    <dd><a href="/index/index/help/detail?id=149">消费者保障</a></dd>
                    <dd><a href="/index/index/help/detail?id=144">支付问题</a></dd>
                    <dd><a href="/index/index/help/detail?id=148">申诉说明</a></dd>
                    <dd><a href="/index/index/help/detail?id=147">退款说明</a></dd>
                    <dd><a href="/index/index/help/detail?id=146">视频拍摄</a></dd>
                    <dd><a href="/index/index/help/detail?id=145">侵权投诉</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>N邦翻译APP</dt>
                    <dd><img src="<{$css_url}>file/img/web/org.png"></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dd class="footer-ydt">
                        <a href="/index/static/translate/index" target="_blank"><img src="<{$css_url}>web/css/image/public/ydt.png"></a>
                        <p>保障翻译安全</p>
                        <p>为客户与译者的交易保驾护航</p>
                    </dd>
                    <dd><span class="footer-telephone"><i class="iconfont icon-telephone font-remind"></i>4006-808-525</span></dd>
                    <dd><span class="footer-date">周一至周日00:00-24:00</span></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">Copyright 2016 www.nbangfanyi.com N邦翻译版权所有（北京智城电子商务有限公司）备案：京ICP备15036767号 </div>
</div>
<{layout:web/public/model}>
<{layout:web/public/im}>
</body>
</html>