<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="keywords" content="翻译平台,北京翻译平台,翻译公司,专业翻译公司,北京翻译公司"/>
    <meta name="description" content="找好翻译，首选N邦翻译平台，汇集全国优秀译者的专业的翻译平台，翻译精准，价格合理，免费取送，平台担保交易，放心，靠谱，性价比高。"/>
    <link rel="dns-prefetch" href="//hm.baidu.com/">
    <script>
        BASE_CSS_URL = '<{$css_url}>';
        BASE_JS_URL = '<{$js_url}>web/';
        BASE_FILE_URL = '<{$file_url}>';
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?8d9b837ff56daf73730660e4d86fc338";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="<{$js_url}>web/require.js"></script>


