<div id="pub_im" class="im-box">
    <div class="ib-header js-header">
        <span class="ibh-title js-title"></span>
        <a href="javascript:void(0);" class="ibh-arrow js-cli" data-cli-ele="arrow"><i
                class="iconfont icon-arrow-down"></i></a>
    </div>
    <div class="ib-user">
        <div class="user-info">
            <a href="#">
                <img class="js-cur-logo" src="" height="40" width="40">
            </a>
            <i class="iconfont icon-dot"></i>
            <span class="js-cur-name"></span>
        </div>
        <div class="contact-list">
            <div class="system">
             <!--   <div class="contact-item js-cli" data-cli-ele="chat_to" data-chat-id="" data-chat-name="系统通知">
                    <a href="javascript:void(0);" class="contact-look">
                        <img src="http://124.192.162.18:2347/img/201604/fd41c85ac92b26a5e4f5ecda480d4035.jpg"
                             height="32" width="32">
                    </a>
                    <span>系统通知</span>
                </div>-->
                <div class="contact-item js-cli js-custom-ser" data-cli-ele="chat_to" data-chat-id="" data-chat-name="">
                    <a href="javascript:void(0);" class="contact-look">
                        <img src="" height="32" width="32">
                    </a>
                    <span></span>
                </div>
            </div>
            <div class="friend">
                <div class="contact-header">
                    <i class="iconfont icon-search-down"></i>
                    <span>我的好友</span>
                </div>
                <div class="js-roster">
                    <div class="text-center">初始化好友列表...</div>
                </div>
            </div>
        </div>
        <div class="setting js-setting">
            <a class="setting-start js-start-label js-cli" data-cli-ele="open_box">联系人</a>
            <a href="javascript:void(0);" class="setting-set js-cli" data-cli-ele="setting"><i
                    class="iconfont icon-setting"></i></a>
        </div>
    </div>
    <div class="ib-contact js-contact">
        <div class="contact-info js-contact-info">
            <a href="javascript:void(0);">
                <img src="" height="40" width="40">
            </a>
            <span></span>
        </div>
        <div class="chat-history js-history">
        </div>
        <div class="chat-input">
            <div class="form-edit">
                <div class="tool">
                    <a href="javascript:void(0);" class="js-cli" data-cli-ele="open-emotion"><i
                            class="iconfont icon-face-good"></i></a>
                    <a href="javascript:void(0);" class="js-cli" data-cli-ele="open-send-img"><i class="iconfont icon-pictures"></i>发送图片</a>
                    <a href="javascript:void(0);" class="js-cli" data-cli-ele="open-send-file"><i class="iconfont icon-files"></i>发送文件</a>
                </div>
                <div class="inset">
                    <textarea placeholder="请输入您的内容" class="js-im-input"></textarea>
                </div>
            </div>
            <div class="action">
                <a href="#" class="action-tip">译点通-最新翻译保障，点击看我</a>
                <a href="javascript:void(0);" class="action-send js-cli" data-cli-ele="send_msg">发送</a>
            </div>
        </div>
        <div class="emotion-box js-emotion"></div>
        <div class="image-box js-image">
            <input type="file" id="im_upload_image"><span></span>
        </div>
        <div class="file-box js-file">
            <input type="file" id="im_upload_file"><span class="file-box-info js-file-info"></span>
        </div>
    </div>
</div>
