<div class="confirm" style="display: none;" id="nbfy_confirm">
    <div class="cfm-title">
        <span>提示</span>
        <a class="cfm-btn cfm-close"><i class="iconfont icon-close"></i></a>
    </div>
    <div class="cfm-content"></div>
    <div class="cfm-bottom">
        <a class="cfm-btn cfm-confirm" href="javascript:void(0);">确认</a>
        <a class="cfm-btn cfm-cancel" href="javascript:void(0);">取消</a>
    </div>
</div>
<div id="nbfy_mask" class="mask"></div>
<div id="nbfy_tip" class="tip">
    <p></p>
</div>
<div id="nbfy_window" class="window" style="display: none;">
    <div class="win-title">
        <span>窗口</span>
        <a class="win-close"><i class="iconfont icon-close"></i></a>
    </div>
    <div class="win-content"></div>
</div>