</head>
<body>
<{layout:web/public/mini_login_win}>
<div class="header">
    <div class="header-main">
        <ul class="header-left">
            <li>
                <i class="iconfont icon-mobile font-remind"></i>手机版网站
                <div class="img-box">
                    <img src="<{$css_url}>file/img/web/web_phone.png" height="100" width="100">
                </div>
            </li>
            <li>
                <i class="iconfont icon-mobile font-remind"></i>下载手机版APP
                <div class="img-box">
                    <img src="<{$css_url}>file/img/web/org.png" height="100" width="100">
                </div>
            </li>
        </ul>

        <ul class="header-right" id="pub_hsb">
            <li>
                <a>客户服务</a>
                <div class="header-help">
                    <a href="/index/index/help/detail?id=137" target="_blank">电话服务</a>
                    <a href="/index/index/help/detail?id=141" target="_blank">帮助中心</a>
                    <a href="/index/index/help/detail?id=139" target="_blank">意见反馈</a>
                </div>
            </li>
            <li>
                <a href="/user/translate/order/index">我的订单</a>
            </li>
            <li>
                <a href="/">N邦翻译首页</a>
            </li>
            <li>
                <a href="/user/index/message/index"><i class="iconfont icon-message font-remind"></i>消息</a>
            </li>
            <li>
                <a href="/user/oauth/user/regShow">免费注册</a>
            </li>
            <li>
                <a href="/user/oauth/user/login" class="on-border"><i class="iconfont icon-user font-remind"></i>请登录</a>
            </li>
            <li style="display: none;">
                <a href="/usercore/api/member/logout?url=/">退出</a>
            </li>
            <li style="display: none;">
                <a href="javascript:void(0);"  class="on-border"></a>
            </li>
        </ul>
    </div>
</div>