<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>N邦翻译-激情5月幸运大转盘</title>
    <meta name="keywords" content="翻译公司,平台,机构,中心,英语,日语,韩语翻译,法语,德语,西班牙,葡萄牙,阿拉伯等几十种语言翻译"/>
    <meta name="description"
          content="【找翻译,上N邦】集合各国优质译者,一站式满足您的翻译需求,和译者直接沟通,没有中间商差价,平台担保交易,放心,靠谱,性价比高-N邦翻译平台,公司,机构 ,中心"/>
    <link href="<{$css_url}>mobile/activity/wheel/wheel.css" rel="stylesheet">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?8d9b837ff56daf73730660e4d86fc338";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="weixin-grab">
<!--
    <img src="<{$css_url}>mobile/activity/wheel/img/grab.jpg">
-->
</div>
<div class="ad-wrap" id="ad_wrap">
    <div class="ad-img" id="ad_img"><img src="<{$css_url}>mobile/activity/wheel/img/ad.jpg" width="100%"></div>
    <div class="ad-mask"></div>
</div>
<div class="wrap" id="prize_wrap">
    <!-- <div class="banner">
         <img src="<{$css_url}>mobile/activity/wheel/img/banner.jpg" width="100%">
     </div>-->
    <div class="wheel">
        <img src="<{$css_url}>mobile/activity/wheel/img/wheel.jpg" width="100%" height="100%">

        <div class="wheel-arrow" id="arrow">
        </div>
        <div class="wheel-btn btn-enabled" id="start_btn">
        </div>
    </div>
    <section class="rules">
        <h3>活动详细规则</h3>

        <p>1、活动时间：2016年4月29日-2016年5月29日</p>

        <p>2、每个用户只有一次抽奖机会</p>

        <p>3、中奖后，奖品会自动存在你个人中心账户，实物奖品请联系客服热线<a class="phone" href="tel:4006-808-525">4006-808-525</a>领取奖品。</p>

        <p>4、优惠券大礼包使用有效期是2016年4月29日-2016年10月31日。</p>

        <p>5、所有实物中奖者应在2016年6月3日前进行领奖，2016年6月3日之后未领奖的用户将被视为自动放弃奖品。（如有发现通过软件刷取或者其它非正常手段获取转盘次数者，本公司将不予兑奖）</p>
    </section>
    <section class="news">
        <h3>相关报道</h3>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461725601&ver=1&signature=e2j8jGFTOT1LEY0l7v4p33nxN3H9hOUlysGHQvXtoubEgpXPlmwm*rARoq4hDNBETaEi7jf*nlptrdKm-XmsT8w4QRMFiyK20iVbOJTKzCWifQQA9w4itid58cmmFBXdNgdzLzcwMUgfMzNQ4FZ9Y-vPCFwqKqEd2Uz6eVJBCvI=">电视剧《翻译官》6月3日湖南卫视开播!!!</a>
        </p>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461725601&ver=1&signature=BdweO5AxOlK*A1dKqNOFSCAuRYo5nCBu2EVLltOxeA2v6OyxLCOvCTPM3mRKS9Y-UPpxOTHbdQBttFq-CP7X78VV4wUofbsquLAWJMKm2KhhkY29yp807vJH8ZrnBm8sBA5eZ9lQ4GbEgMwQjfv88XgCCyTyTwoaxnd*MCUg1Do=">《翻译官》曝拒绝高冷片花
                杨幂调戏黄轩</a></p>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461726233&ver=1&signature=*N1doRP4HJAlqyQz6FuEUISKa-i7D3iZ0*ABngd4DXUXAhjXFUsdbamubzKS3scnDGRzGa9kOTz8BVuRUilfW2RFSzsvNXG8IqMfTsKv422G-g7FGem1XCmIjhsEYn-R3MIHbJniRmKwMbQoanBDaCyK-7Mbdn-9U3FpziX5eiI=">《翻译官》开播之前，快来先看剧情过过瘾</a>
        </p>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461726804&ver=1&signature=E8a9aINGgfKIJrPSwjp8KJkikH4MtQJNKam-uVXBaJJiO6B9tH09maCegV1jGs*J773JqrtyIcRQcsie8u0A-IehGgZ3r4QIhpIhMFhZmSvPNUXip5Xfz4sbQcsKA8aqq08LbKppTV59ME2kLEkORg==">你们的《翻译官》来了，杨幂黄轩相爱相杀</a>
        </p>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461726986&ver=1&signature=J30bGvpx9chP00egswb*ozwjADgwLF6*z17T1*YvEsbhfukrbp*kOPvxhSuD-65sfhpumFXDx8DA4gPgo22WggNNJxdafxPVWvYdG5g1Kdg1V**w6fz2akJQLo6*G6nZBMrpNBV26R9HiHM7RntYmw==">女神翻译官炼成记</a>
        </p>

        <p>
            <a href="http://mp.weixin.qq.com/s?src=3&timestamp=1461726986&ver=1&signature=c1xxTebumxt8PVpl3ATdUIix2ndg9ruLytZzseB6cuT8IPOGJ5-oK-l*MYR43CuiBHNsDO07ECJQ4Odca2BofGcScwuMUxhMfK9VTklFdgEuYjEDzgUKut31Ji7v6A-bu2YEl12MyO2TiCOdU8VoeQ==">逗比翻译官，最后连奥巴马都忍不了了</a>
        </p>
    </section>
    <div class="copyright">
        本活动N邦翻译最终解释权
    </div>
</div>
<div class="frame" id="frame_login">
    <p class="title">输入手机号，赢取大奖</p>

    <div class="row">
        <div class="col-2">　</div>
        <div class="col-6">
            <input type="tel" placeholder="请输入您的手机号" name="phone">
        </div>
    </div>
    <div class="row">
        <div class="col-2">　</div>
        <div class="col-3">
            <input type="number" placeholder="短信验证码" name="code">
        </div>
        <div class="col-3">
            <a href="javascript:void(0);" class="msg-btn" id="get_msg">获取验证码</a>
        </div>
    </div>
    <div class="btn-group">
        <a href="javascript:void(0);" id="login_btn">赶紧去抽奖 </a>
    </div>
</div>
<div class="mask" id="mask"></div>
<div class=" verify-wrap" id="verify_wrap">
    <div class="row">
        <div class="col-5">
            <input type="number" placeholder="图片验证码" name="verifyCode">
        </div>
        <div class="col-5">
            <img src="/usercore/api/member/verify" width="100%" class="code"
                 onclick="this.src='/usercore/api/member/verify?'+new Date().getTime()" id="verify_code">
        </div>
    </div>
    <div class="btn-group">
        <a href="javascript:void(0);" id="confirm_send">确定</a>
    </div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var URL = {
                LOGIN: '/usercore/api/member/fastSmsLogin',//快速登陆
                GET_MSG: '/usercore/api/member/smsLogin',//获取快速登录验证码
                IMG_VERIFY: '/usercore/api/member/verify',//登陆验证图片
                PRIZE: '/mobile/event/luckDraw/luckDraw',//获奖
                REG: '/usercore/api/member/reg',//注册
                CHECKLOGIN: '/usercore/api/member/getUserLoginInfo',//检验登录
                HASUSER: '/usercore/api/member/isUserInfo',//验证是否存在这个用户
                WEIXIN: '/mobile/event/luckDraw/getWXSign'//微信分享
            },
            prize_flag = 0,
            url_flag,
            code_flag = 0;
    window.onload = function () {
        var ad_wrap = document.getElementById('ad_wrap'),
                ad_img = document.getElementById('ad_img'),
                prize_wrap = document.getElementById('prize_wrap');
        ad_wrap.style.zIndex = '-1';
        ad_wrap.style.height = '0rem';
        //ad_img.style.transform = 'scale(0.01,0.01)';
        ad_img.style.webkitTransform = 'scale(0.01,0.01)';

        prize_wrap.style.display = 'block';
        document.getElementById('frame_login').style.opacity = '1';
        document.getElementsByTagName('body')[0].style.overflowY = 'auto';
        //绑定事件
        bindEvents();
    };
    /*
     * 绑定事件
     * */
    var bindEvents = function () {
        var ele_start = document.getElementById('start_btn'),
                ele_arrow = document.getElementById('arrow'),
                timer;
        //开始抽奖的方法
        ele_start.addEventListener('click', function () {
            checkLogin(function (data) {
                if (data.status == 0) {
                    document.getElementById('frame_login').style.display = 'none';
                    //清除事件延迟
                    clearTimeout(timer);
                    //如果抽过奖，不进行抽奖
                    if (prize_flag != 0) {
                        return;
                    }
                    //更换按钮样式
                    var temp_class = ele_start.className;
                    ele_start.className = temp_class.replace(/btn-enabled/, 'btn-disabled');

                    sajax(URL.PRIZE, 'GET', null, function (data) {
                        if (data.status == 0) {
                            var level = data.data;
                            var levels = {
                                '1': '7380',
                                '2': '7260',
                                '3': '7320',
                                '4': '7200',
                                '5': '7440',
                                '6': '7500'
                            };
                            ele_arrow.style.transform = 'rotate(' + levels[level] + 'deg)';
                            ele_arrow.style.webkitTransform = 'rotate(' + levels[level] + 'deg)';
                            setTimeout(function () {
                                alert(data.message);
                                window.location.href = '/pay/user/coupon/couponList';
                            }, 3300);
                            prize_flag++;
                        } else {
                            alert(data.message);
                        }
                    });
                } else {
                    document.getElementById('frame_login').style.display = 'block';
                }
            });
        }, false);

        //登录事件
        var login_btn = document.getElementById('login_btn'),
                get_msg = document.getElementById('get_msg'),
                verify = document.getElementById('verify_wrap');
        login_btn.addEventListener('click', function () {
            clearTimeout(timer);
            timer = setTimeout(function () {
                login();
            }, 300);
        }, false);

        //确定发送
        var confirm_send = document.getElementById('confirm_send');
        confirm_send.addEventListener('click', function () {
            var phone = document.getElementsByName('phone')[0].value,
                    verifyCode = document.getElementsByName('verifyCode')[0].value;
            sajax(URL.GET_MSG, 'POST', {
                phone: phone,
                verifyCode: verifyCode
            }, function (data) {
                if (data.status == 0) {
                    var time = 59, timer;
                    timer = setTimeout(function () {
                        if (time >= 0) {
                            get_msg.innerHTML = time + 's重新发送';
                            get_msg.style.backgroundColor = '#ddd';
                            get_msg.style.color = '#666';
                            time--;
                            setTimeout(arguments.callee, 1000);
                        } else {
                            clearTimeout(timer);
                            get_msg.innerHTML = '获取验证码';
                            get_msg.style.backgroundColor = '#fdf14d';
                            get_msg.style.color = '#d80333';
                            code_flag = 0;
                        }
                    }, 1000);
                    verify.style.display = 'none';
                    document.getElementById('mask').style.display = 'none';
                    code_flag = 1;
                } else {
                    alert(data.message);
                }
                document.getElementById('verify_code').src = '/usercore/api/member/verify?' + new Date().getTime();
            });


        }, false);

        //获取验证码
        get_msg.addEventListener('click', function () {
            var phone = document.getElementsByName('phone')[0].value,
                    verifyCode = document.getElementsByName('verifyCode')[0].value;
            if (!phone) {
                alert('手机号码不合法');
                return;
            }
            if (code_flag == 0) {
                verify.style.display = 'block';
                document.getElementById('mask').style.display = 'block';
            } else if (code_flag == 1) {

            } else {

            }
        }, false);

        //验证手机是否存在
        var phone = document.getElementsByName('phone')[0];
        phone.addEventListener('blur', function () {
            var value = this.value;
            sajax(URL.HASUSER, 'POST', {
                phone: value
            }, function (data) {
                //如果存在那么就进行登录，不存在就注册
                if (data.status == 0) {
                    url_flag = 'login';
                } else {
                    url_flag = 'reg';
                }
            });

        }, false);
    };

    //检验登录状态
    var checkLogin = function (callback) {
        sajax(URL.CHECKLOGIN, 'GET', null, callback);
    }

    //登录方法
    var login = function () {
        var dom = document,
                phone = dom.getElementsByName('phone')[0].value,
                code = dom.getElementsByName('code')[0].value;
        if (!phone) {
            alert('手机号码不合法');
            return;
        }
        if (!code) {
            alert('请输入短信验证码');
            return;
        }
        if (url_flag == 'login') {
            sajax(URL.LOGIN, 'POST', {
                phone: phone,
                code: code
            }, function (data) {
                if (data.status == 0) {
                    document.getElementById('frame_login').style.display = 'none';
                } else {
                    alert(data.message);
                }
            });

        } else {
            var pwd = getPassword();
            sajax(URL.REG, 'POST', {
                account: phone,
                code: code,
                userType: '1',
                accountType: '1',
                password: pwd,
                repeatPasswd: pwd,
                regFromType: '9'
            }, function (data) {
                if (data.status == 0) {
                    document.getElementById('frame_login').style.display = 'none';
                } else {
                    alert(data.message);
                }
            });
        }
    };

    var getPassword = function () {
        var str = '1234567890';

        var pwd = ['nbfy'];

        var len = 6;

        while (len--) {
            var ran_index = (Math.random() * 10 + '').split('.')[0];
            pwd.push(str.substr(ran_index, 1));
        }
        return pwd.join('');
    };

    var sajax = function (url, type, data, suc) {

        type = type ? type : 'GET';

        var params = [],
                params_str = '';

        if (data) {
            for (var i in data) {
                if (data.hasOwnProperty(i)) {
                    data[i] && params.push('&' + i + '=' + data[i]);
                }
            }
            params_str = params.join('').slice(1);
        }

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                    var result = xhr.responseText;
                    var data = JSON.parse(result);
                    suc && suc(data);
                }
            }
        };
        xhr.open(type, url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(params_str);
    };
    var config = {
        title: 'N邦翻译-激情5月幸运大转盘',
        link: '<{$data["url"]}>mobile/event/luckDraw/index',
        img: '<{$css_url}>mobile/activity/wheel/img/grab.jpg',
        desc: 'N邦翻译送大奖，爱奇艺会员，无线耳机，数码相机,阿迪背包,翻译现金券等多重好礼免费送。还是100%中奖，叫上小伙伴们儿一起来抢啊！'
    };
    //微信分享
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<{$data["sign"]["appId"]}>', // 必填，公众号的唯一标识
        timestamp: '<{$data["sign"]["timestamp"]}>', // 必填，生成签名的时间戳
        nonceStr: '<{$data["sign"]["nonceStr"]}>', // 必填，生成签名的随机串
        signature: '<{$data["sign"]["signature"]}>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: config.title, // 分享标题
            link: config.link, // 分享链接
            imgUrl: config.img, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: config.title, // 分享标题
            desc: config.desc, // 分享描述
            link: config.link, // 分享链接
            imgUrl: config.img, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQQ({
            title: config.title, // 分享标题
            desc: config.desc, // 分享描述
            link: config.link, // 分享链接
            imgUrl: config.img, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQZone({
            title: config.title, // 分享标题
            desc: config.desc, // 分享描述
            link: config.link, // 分享链接
            imgUrl: config.img, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</body>
</html>